# Rename this file to .env and source it in your terminal.

export DIGITALOCEAN_TOKEN=

# or
export DIGITALOCEAN_ACCESS_TOKEN=

# To change region, modify the following value.
# See: https://docs.digitalocean.com/reference/api/api-reference/#operation/list_all_regions
export PKR_VAR_region=sgp1
